<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
    <link rel="stylesheet" href="/styleAddBook.css">
</head>

<body>
    <div class="form-container">
        <div class="form-btn">
            <span>Add Book</span>
        </div>

        <form action=<%="/admin/book/add" %> method="POST">

            <label>
                Book title <input type="text" placeholder="Book Title" name="title" value="<%= (typeof form != 'undefined') ? form.title:''%>" required>
            </label>
            <label>
                Writer <input type="text" placeholder="Writer Name" name="writer_name" value="<%= (typeof form != 'undefined') ? form.writer:''%>" required>
            </label>
            <label>
                Publisher <input type="text" placeholder="Publisher Name" name="publisher" value="<%= (typeof form != 'undefined') ? form.publisher:''%>"
                    required>
            </label>
            <label>
                Publication Year <input type="text" placeholder="Date Published" name="publish_date"
                    value="<%= (typeof form != 'undefined') ? form.date_published:''%>" required>
            </label>
            <label>
                Genre <input type="text" placeholder="Genre" name="genre" value="<%= (typeof form != 'undefined') ? form.genre:''%>" required>
            </label>
            <label>
                Quantity in Stock <input type="text" placeholder="In Stock" value="<%= (typeof form != 'undefined') ? form.stock:''%>" name="in_stock" required>
            </label>
            <label>
                Price <input type="text" placeholder="Price" name="price" value="<%= (typeof form != 'undefined') ? form.price:''%>" required>
            </label>
            <label>
                Language <input type="text" placeholder="Language" name="language" value="<%= (typeof form != 'undefined') ? form.language:''%>" required>
            </label>
            <label>
                Page count <input type="text" placeholder="Total Page" name="page" value="<%= (typeof form != 'undefined') ? form.page:''%>" required>
            </label>

            <div class="errors" style="color: red;">
                <% if ((typeof errors != 'undefined') && errors.length> 0 ) { %>
                    <% errors.forEach(err=> { %>
                        <br>
                        <%= err %>
                            <% }) %>
                                <% } %>
            </div>


            <button type="submit" class="btn1">Confirm</button>

        </form>



    </div>
</body>

</html>