<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styleHomepageAdmin.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>BitLit Books</h1>
        </div>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/book">Books</a> </li>
            <li><a href="/admin/publisher">Publishers</a> </li>
            <li><a href="/admin/supplies">Supplies</a></li>
            <li><a href="/admin/order">Orders</a> </li>
            <br>
            <br>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                 <div class="search-bar">
                    <form action="/search" method="POST">
                        <input type="text" name="search_text" placeholder="Search books...">
                        <button type="submit">Search</button>
                    </form>
                </div> 
            </div>
        </div>
        <div class="content">
            <div class="book-list">
                <button onclick="updateStatus();" style=" margin-left:10px; width: fit-content;"> Save Changes</button>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Customer_id</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Date_ordered</th>
                        <th>Adress</th>
                        <th>Phone</th>
                        <th>Delivery Date</th>
                        <th>Payment Status</th>
                    </tr>
                    <!-- <tr>
                        <td>Image 1 </td>
                        <td>name 1 </td>
                        <td>Writer 1 </td>
                        <td>Publisher 1 </td>
                        <td>Price 1</td>
                        <td>Stock 1 </td>
                        <td>Sold 1 </td>
                        <td>Action 1 </td> 
                    </tr>
                    <tr>
                        <td>Image 2 </td>
                        <td>name 2 </td>
                        <td>Writer 2 </td>
                        <td>Publisher 2 </td>
                        <td>Price 2</td>
                        <td>Stock 2 </td>
                        <td>Sold 1 </td>
                        <td>Action 2 </td> 
                    </tr>
                    <tr>
                        <td>Image 3 </td>
                        <td>name 3 </td>
                        <td>Writer 3 </td>
                        <td>Publisher 3 </td>
                        <td>Price 3</td>
                        <td>Stock 3 </td>
                        <td>Sold 1 </td>
                        <td>Action 3 </td>
                    </tr>                     -->
                    <% for (let i = 0; i < items.length; i++) { %>
                        <tr>
                            <td><%= items[i].CART_ID %> </td>
                            <td><%= items[i].CUSTOMER_ID %> </td>
                            <td><%= items[i].TOTAL_QUANTITY %> </td>
                            <td><%= items[i].TOTAL_PRICE %> </td>
                            <td><%= items[i].DATE_ORDERED %> </td>
                            <td><%= items[i].CUSTOMER_ADDR %> </td>
                            <td><%= items[i].PHONE_NO %> </td>
                            <td>
                                <input type="date" value= "<%= items[i].DATE_DELIVERED %>" id= <%= 'del-date' + items[i].CART_ID %>
                            </td>
                            <td>
                                <!-- <%= items[i].DATE_DELIVERED %>  -->
                                <select id=<%= 'payment-status' + items[i].CART_ID %>> 
                                    <% if (items[i].PAYMENT_STATUS !== 'pending') { %>
                                        <option value="paid" selected>Paid</option>
                                        <option value="pending">Pending</option>
                                    <% } else { %>
                                        <option value="pending" selected>Pending</option>
                                        <option value="paid">Paid</option>
                                    <% } %>
                                </select>
                            </td>
                        </tr>
                    <% } %>
                </table>    
            </div>
        </div>
    </div>

    <script>
        let items = <%- JSON.stringify(items) %>;
        for(let i = 0; i < items.length; i++) {
            console.log(i);
            document.getElementById(`del-date${items[i].CART_ID}`).onchange = (function (i) {
                return function () {
                    items[i].DELIVERY_DATE = document.getElementById(`del-date${items[i].CART_ID}`).value;
                    console.log(items[i].DELIVERY_DATE);
                };
            }) (i);
        }

        for(let i = 0;i < items.length; i++) {
            console.log(i);
            document.getElementById(`payment-status${items[i].CART_ID}`).onchange = (function (i) {
                return function () {
                    console.log(document.getElementById(`payment-status${items[i].CART_ID}`));
                    items[i].PAYMENT_STATUS = document.getElementById(`payment-status${items[i].CART_ID}`).value;
                    console.log(items[i].PAYMENT_STATUS);
                }
            }) (i);
        }

        function updateStatus() {
            $.ajax ( {
                url: `/admin/order/update`,
                type: 'POST',
                data: {
                    items: JSON.stringify(items)
                }
            });
        }
    </script>
    
</body>
</html>


