<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styleAddBook.css">
</head>
<body>
    <div class="form-container-1">
        <div class="form-btn">
            <span>Edit Publisher</span>
        </div>

        <form action=<%= '/admin/publisher/edit/' + name %> method="POST">
            <div class="form-btn">
                <span><%= name %></span>
            </div>
            <label>
                Name:  <input type="text" name="email" value=<%= email %>>
            </label>
            <label>
                Address:  <input type="text" name="address" placeholder="Address" value=<%= address %>>
            </label>
             <input type="text" name="name" value="<%= name%>" style="display: none;">
            
             <div class="form-btn">
                <button type="submit" style="width: max-content;" class="btn1">Save changes</button> 
            </div>
    
        </form>

    </div>
</body>
</html> 