<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styleHomepageAdmin.css">
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>BitLit Books</h1>
        </div>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/book">Books</a> </li>
            <li><a href="/admin/writer">Writers</a> </li>
            <li><a href="/admin/publisher">Publishers</a> </li>
            <li><a href="/admin/order">Orders</a> </li>
            <li><br></li>
            <li><br></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                 <div class="search-bar">
                    <form action="/search" method="POST">
                        <input type="text" name="search_text" placeholder="Search books...">
                        <button type="submit">Search</button>
                    </form>
                </div> 
            </div>
        </div>
        <div class="content">
            <div class="book-list">
                <button onclick="location.assign('/admin/book/add');" style="width: fit-content; margin-left: 10px">Add Book</button>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Writer</th>
                        <th>Publisher</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Sold</th>
                        <th>Action</th>
                    </tr>
                    <% for(let i = 0; i < items.length; i++) { %>
                        <tr>
                            <td><%= items[i].ID %></td>
                            <td><%= items[i].TITLE %></td>
                            <td><%= items[i].NAME %></td>
                            <td><%= items[i].PUBLISHER %></td>
                            <td><%= items[i].PRICE %></td>
                            <td><%= items[i].QUANTITY_IN_STOCK %></td>
                            <td><%= items[i].QUANTITY_SOLD %></td>
                            <td>
                                <a style="color: green;" href=<%= '/admin/book/edit/' + items[i].ID %>>Edit</a><br>
                                <a style="color: red;" href=<%= '/admin/book/delete/' + items[i].ID %>>Delete
                                </a>
                            </td> 
                        </tr>
                    <% } %>
                    

                </table>    
            </div>
        </div>
    </div>
    
</body>
</html>


