
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BitLit Book | Online Bookshop</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="/images/Logo.jpg" alt="logo image" >
            </div>
            <div class="actions">
                <div class="search-bar-hp">
                    <form action="/search" method="get">
                        <input type="text" name="query" placeholder="Search books, writers...">
                        <button class="login-button" type="submit">Search</button>
                    </form>
                </div>
                <div class="cart-image">
                    <img src="/images/cart.jpg" alt="cart image" >
                </div>
                <div class="logoutbutton">
                                        <button class="logout-button" onclick="location.assign('/logout')">Log Out</button>
    
                </div>
            </div>
        </div>
    <nav>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/writers">Writers</a></li>
            <li><a href="/publishers">Publishers</a></li>
            
        </ul>
        <!-- <div class="auth-buttons">
            <button class="login-button" onclick="location.assign('/cart')">Cart</button>
            <button class="signup-button" onclick="location.assign('/wishlist')">Wishlist</button>
        </div> -->

    </nav>
    <h2>All books</h2>
    <!-- <% if(books.length > 0) { %>
        <% books.forEach(book => { %>
            <a href="/books/<%= book.ID %>">
                <img src="book.IMAGE" alt="default" width="260" height="320">
                <h4><%= book.TITLE %></h4>
                <p><%= book.WRITER_NAME %></p>
                <p><%= book.PUBLISHER %></p></a>            
        <% }) %>
    <% } %> -->
    <div class="all-books">
        <ul class="all-books-grid">
            <% if(books.length > 0) { %>
                <% let count = 0; %>
                <div class="all-books-line">
                    <% books.forEach(book => { %>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a href="/books/<%= book.ID %>">
                            <br>
                            <br>
                            <img src="/images/Kalbela.jpg" alt="default" width="150" height="200">
                            <h4><%= book.TITLE %></h4>
                            <p><%= book.WRITER_NAME %></p>
                            <p><%= book.PUBLISHER %></p></a>   
                             
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <% count++; %>
                        <% if (count === 5) { %>
                            </div><div class="all-books-line">
                            <% count = 0; %>
                        <% } %>
                    <% }) %>
                </div>
            <% } %>
        </ul>
    </div>
</body>
</html>