<!DOCTYPE html>
<html lang="en"> 
<%- include('./partials/index_head.ejs') %>

<body>
    <%- include('./partials/index_header.ejs') %>

    <div class="main-section">
        <%- include('./partials/filter.ejs') %>
        
        <div class="items-section">
            <div class="book-header">
                
            </div>
            <div class="display-books">
                <% if(books.length > 0) { %>
                    <% books.forEach(book => { %>
                        <% const imgSrc = `${book.ID}.jpg`; %>
                        <div class="single-book">
                            <a href="/books/<%= book.ID %>">
                                <img src="/images/<%= imgSrc %>" alt="default" width="150" height="200">
                                <h4><%= book.TITLE %></h4>
                                <p><%= book.WRITER_NAME %></p>
                                <p><%= book.PUBLISHER %></p></a>
                        </div>
                            
                    <% }) %>
                <% } %>
            </div>
            
        </div>
        

    </div>

    <script>
        async function applyFilter () {
            const form = document.querySelector('form');
            console.log(form.search_text);

            const genres = document.querySelectorAll('.genre.checked');
            const genreText = [];

            genres.forEach(g => {
                genreText.push(g.innerText);
            });

            const writers = document.querySelectorAll('.author.checked');
            const writerText = [];

            writers.forEach(w => {
                writerText.push(w.innerText);
            });

            let sort_type = null;
            if(document.querySelector("input[name='price']:checked") !== null) {
                sort_type = document.querySelector("input[name='price']:checked").value;
            }
            
            console.log(sort_type);

            try {
                    const res = await fetch('/filter/all', {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            genreText,
                            writerText,
                            sort_type
                        })
                    })
                    
                    const data = await res.json();
                    // console.log(data);

                    const displayBooksDiv = document.querySelector('.display-books');
                    displayBooksDiv.innerHTML = ''; // Clear existing content
        
                    if (data.result.length > 0) {
                    data.result.forEach(book => {
                        const singleBookDiv = document.createElement('div');
                        singleBookDiv.classList.add('single-book');
                    
                        const bookLink = document.createElement('a');
                        bookLink.href = `/books/${book.ID}`;
                    
                        const bookImage = document.createElement('img');
                        bookImage.src = `/images/${book.ID}.jpg`;
                        bookImage.alt = 'default';
                        bookImage.width = 150;
                        bookImage.height = 200;
                    
                        const bookTitle = document.createElement('h4');
                        bookTitle.innerText = book.TITLE;
                    
                        const writerName = document.createElement('p');
                        writerName.innerText = book.WRITER_NAME;
                    
                        const publisher = document.createElement('p');
                        publisher.innerText = book.PUBLISHER;
                    
                        bookLink.appendChild(bookImage);
                        bookLink.appendChild(bookTitle);
                        bookLink.appendChild(writerName);
                        bookLink.appendChild(publisher);
                    
                        singleBookDiv.appendChild(bookLink);
                        displayBooksDiv.appendChild(singleBookDiv);
                        } );
                    }
                
                }
                catch(err) {
                console.log(err);
            }
        }


        const radio_buttons = document.querySelectorAll("input[name='price']");
        radio_buttons.forEach(btn => {
            btn.addEventListener("change", applyFilter);
        })
        // filter by genre
        const selectBtnGenre = document.querySelector('.select-btn.genre'),
            genreItems = document.querySelectorAll('.item.genre');
        selectBtnGenre.addEventListener('click', () => {
            selectBtnGenre.classList.toggle('open');
        });
        genreItems.forEach(item => {
            item.addEventListener('click', async (e) => {
                item.classList.toggle('checked');                

                let checked = document.querySelectorAll('.genre.checked'),
                    btnText = document.querySelector('.genre.btn-text');
                
                let texts = [];
                checked.forEach(c => {
                    texts.push(c.innerText);
                })
                // console.log(texts);
                if(checked && checked.length > 0) {
                    btnText.innerText = `${checked.length} Selected`;
                }
                else {
                    btnText.innerText = 'Select genre';
                }

                e.preventDefault();
                applyFilter();
            //     try {
            //         const res = await fetch('/filter/genre', {
            //             method: 'POST',
            //             headers: {
            //                 'Content-type': 'application/json'
            //             },
            //             body: JSON.stringify(texts)
            //         })
                    
            //         const data = await res.json();
            //         console.log(data);

            //         const displayBooksDiv = document.querySelector('.display-books');
            //         displayBooksDiv.innerHTML = ''; // Clear existing content
        
            //         if (data.result.length > 0) {
            //         data.result.forEach(book => {
            //             const singleBookDiv = document.createElement('div');
            //             singleBookDiv.classList.add('single-book');
                    
            //             const bookLink = document.createElement('a');
            //             bookLink.href = `/books/${book.ID}`;
                    
            //             const bookImage = document.createElement('img');
            //             bookImage.src = '/images/Kalbela.jpg';
            //             bookImage.alt = 'default';
            //             bookImage.width = 150;
            //             bookImage.height = 200;
                    
            //             const bookTitle = document.createElement('h4');
            //             bookTitle.innerText = book.TITLE;
                    
            //             const writerName = document.createElement('p');
            //             writerName.innerText = book.WRITER_NAME;
                    
            //             const publisher = document.createElement('p');
            //             publisher.innerText = book.PUBLISHER;
                    
            //             bookLink.appendChild(bookImage);
            //             bookLink.appendChild(bookTitle);
            //             bookLink.appendChild(writerName);
            //             bookLink.appendChild(publisher);
                    
            //             singleBookDiv.appendChild(bookLink);
            //             displayBooksDiv.appendChild(singleBookDiv);
            //             } );
            //         }
                
            //     }
            //     catch(err) {
            //     console.log(err);
            // }
        })
        })


        // filter by author
        const selectBtnAuthor = document.querySelector('.select-btn.author'),
            authorItems = document.querySelectorAll('.item.author');
        selectBtnAuthor.addEventListener('click', () => {
            console.log('oosijfodj');
            selectBtnAuthor.classList.toggle('open');
            console.log(selectBtnAuthor.classList);
        });

        authorItems.forEach(i => {
            console.log('jjkfnvjk');
            i.addEventListener('click', async (e) => {
                console.log('author button clicked');
                i.classList.toggle('checked');                

                let checked = document.querySelectorAll('.author.checked'),
                    btnText = document.querySelector('.author.btn-text');
                
                let texts = [];
                checked.forEach(c => {
                    texts.push(c.innerText);
                })
                console.log(texts);
                if(checked && checked.length > 0) {
                    btnText.innerText = `${checked.length} Selected`;
                }
                else {
                    btnText.innerText = 'Select author';
                }

                e.preventDefault();
                applyFilter();
            //     try {
            //         const res = await fetch('/filter/author', {
            //             method: 'POST',
            //             headers: {
            //                 'Content-type': 'application/json'
            //             },
            //             body: JSON.stringify(texts)
            //         })
                    
            //     const data = await res.json();
            //     console.log(data);

            //     const displayBooksDiv = document.querySelector('.display-books');
            //     displayBooksDiv.innerHTML = ''; // Clear existing content
        
            //     if (data.result.length > 0) {
            //     data.result.forEach(book => {
            //         const singleBookDiv = document.createElement('div');
            //         singleBookDiv.classList.add('single-book');
                    
            //         const bookLink = document.createElement('a');
            //         bookLink.href = `/books/${book.ID}`;
                    
            //         const bookImage = document.createElement('img');
            //         bookImage.src = '/images/Kalbela.jpg';
            //         bookImage.alt = 'default';
            //         bookImage.width = 150;
            //         bookImage.height = 200;
                    
            //         const bookTitle = document.createElement('h4');
            //         bookTitle.innerText = book.TITLE;
                    
            //         const writerName = document.createElement('p');
            //         writerName.innerText = book.WRITER_NAME;
                    
            //         const publisher = document.createElement('p');
            //         publisher.innerText = book.PUBLISHER;
                    
            //         bookLink.appendChild(bookImage);
            //         bookLink.appendChild(bookTitle);
            //         bookLink.appendChild(writerName);
            //         bookLink.appendChild(publisher);
                    
            //         singleBookDiv.appendChild(bookLink);
            //         displayBooksDiv.appendChild(singleBookDiv);
            //         });
            //     }
                
            // }
            // catch(err) {
            // console.log(err);
            // }
        })
        })

    </script>

</body>
</html>