<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= books[0].TITLE %></title>
    <link rel="stylesheet" href="/styles2.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="header-section">
        <div class="upper-line">
            <div class="logo">
                <img src="/images/Logo.jpg" alt="logo image" >
            </div>
            <div class="search-bar">
                <form action="/search" method="POST">
                    <input type="text" name="search_text" placeholder="Search books, writers...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <!-- <button onclick="location.assign('/login')">Log In</button>
                <button onclick="location.assign('/signup')">Sign Up</button> -->
                
                <a href="/cart">
                    <img class="cart-image" src="/images/cart.jpg" alt="cart image" >
                </a>
                <button onclick="location.assign('/logout')">Log Out</button>
                
            </div>
        </div>
        <div class="lower-line">
            <nav>
                <ul>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/writers">Writers</a></li>
                    <li><a href="/publishers">Publishers</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="center">
        <div class="single-book-details">
            <% if(books.length > 0) { %>
                <% books.forEach(book => { %>
                    <% const imgSrc = `${book.ID}.jpg` %>
                    <div class="single-book-img">
                        <img src="/images/<%= imgSrc %>" alt="kalbela" width="240" height="320"> 
                    </div> 
                    <div class="single-book-info">
                        <h2><%= book.TITLE %></h2>
                        <P><%= book.RATING %> ⭐</P>
                        <p>Writer: <%= book.WRITER_NAME %></p>
                        <p>Genre: <%= book.GENRE %></p>
                        <p>Total page: <%= book.PAGE %></p>
                        <p>Price: <%= book.PRICE %></p>                         
                        <p>Publisher: <%= book.PUBLISHER %></p>                        
                        <p>Publication year: <%= book.DATE_PUBLISHED %></p>
                        <button id="cart-post" class="login-button" >Add to Cart</button>
                        <button id="wishlist-post" class="login-button">Add to Wishlist</button>
                    </div>                
                <% }) %>
            <% } %>
                    
        </div> 

        <div class="section-header">More from this genre</div>

        <div class="display-books">
            <% if(genreBooks.length > 0) { %>
                <% genreBooks.forEach(book => { %>
                    <% const imgSrc = `${book.ID}.jpg` %>
                    <div class="single-book">
                        <a href="/books/<%= book.ID %>">
                            <img src="/images/<%= imgSrc %>" alt="default" width="150" height="200">
                            <h4><%= book.TITLE %></h4>
                            <p><%= book.WRITER_NAME %></p>
                            <p><%= book.PUBLISHER %></p></a>
                    </div>
                        
                <% }) %>
            <% } %>
        </div>

        <div class="section-header">More from this Writer</div>
        <div class="display-books">
            <% if(writerBooks.length > 0) { %>
                <% writerBooks.forEach(book => { %>
                    <% const imgSrc = `${book.ID}.jpg` %>
                    <div class="single-book">
                        <a href="/books/<%= book.ID %>">
                            <img src="/images/<%= imgSrc %>" alt="default" width="150" height="200">
                            <h4><%= book.TITLE %></h4>
                            <p><%= book.WRITER_NAME %></p>
                            <p><%= book.PUBLISHER %></p>
                        </a>
                    </div>
                        
                <% }) %>
            <% } %>
        </div>

        <div class="section-header">
            <div class="rating">Rate this book 
                <input type="radio" name="rating" id="star5" value="5">
                <label for="star5"></label>
                <input type="radio" name="rating" id="star4" value="4">
                <label for="star4"></label>
                <input type="radio" name="rating" id="star3" value="3">
                <label for="star3"></label>
                <input type="radio" name="rating" id="star2" value="2">
                <label for="star2"></label>
                <input type="radio" name="rating" id="star1" value="1">
                <label for="star1"></label>
            </div>
        </div>
    </div>

        
    </div>
    
    
    <script> 
        const cart_button = document.getElementById('cart-post');
        console.log(cart_button);
        
        let id = '<%= books[0].ID %>';

        cart_button.addEventListener('click', async(e) => {
            e.preventDefault();
            try {
            const res = await fetch(`/cart/${id}`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.user == null) {
                location.assign('/login');
            }
            else {
                console.log('success! adding');
            }
        }
        catch(err) {
            console.log(err);
        }
        })

        const wishlist_button = document.getElementById('wishlist-post');
        console.log(wishlist_button);

        wishlist_button.addEventListener('click', async(e) => {
            e.preventDefault();
            try {
            const res = await fetch(`/wishlist/${id}`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.user == null) {
                location.assign('/login');
            }
            else {
                console.log('success! adding');
            }
        }
        catch(err) {
            console.log(err);
        }
        })

        async function sendRating(r) {
            try {
                const res = await fetch(`/rating/${id}`, {
                    method: 'POST', 
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ratings: r})
                })

                const data = await res.json();
                console.log(data);
                if(data.user == null) {
                    location.assign('/login');
                }
                else {
                    console.log('success! adding');
                }
            } catch (err) {
                console.log(err);
            }
        }

        const ratings = document.querySelectorAll('.rating input');
        ratings.forEach(rating => {
            rating.addEventListener('change', () => {
                const selectedRating = rating.value;
                console.log(Number(selectedRating)) 
                sendRating(Number(selectedRating));
            })
        })
        
    </script>
</body>
</html>