<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= books[0].TITLE %></title>
    <link rel="stylesheet" href="/styles2.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="header-section">
        <div class="lower-line">
            <nav>
                <ul>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/writers">Writers</a></li>
                    <li><a href="/publishers">Publishers</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="center">
        <div class="single-book-details">
            <% if(books.length > 0) { %>
                <% books.forEach(book => { %>
                    <div class="single-book-img">
                        <img src="/images/Kalbela.jpg" alt="kalbela" width="240" height="320"> 
                    </div> 
                    <div class="single-book-info">
                        <h2><%= book.TITLE %></h2>
                        <p>Writer: <%= book.WRITER_NAME %></p>
                        <p>Genre: <%= book.GENRE %></p>
                        <p>Total page: <%= book.PAGE %></p>
                        <p>Price: <%= book.PRICE %></p>                         
                        <p>Publisher: <%= book.PUBLISHER %></p>                        
                        <p>Publication year: <%= book.DATE_PUBLISHED %></p>
                        <button id="cart-post" class="login-button" >Add to Cart</button>
                        <button id="wishlist-post" class="login-button">Add to Wishlist</button>
                    </div>                
                <% }) %>
            <% } %>
                    
        </div> 

        <div class="section-header">More from this genre</div>

        <div class="display-books">
            <% if(genreBooks.length > 0) { %>
                <% genreBooks.forEach(book => { %>
                    <div class="single-book">
                        <a href="/books/<%= book.ID %>">
                            <img src="/images/Kalbela.jpg" alt="default" width="150" height="200">
                            <h4><%= book.TITLE %></h4>
                            <p><%= book.WRITER_NAME %></p>
                            <p><%= book.PUBLISHER %></p></a>
                    </div>
                        
                <% }) %>
            <% } %>
        </div>

        <div class="section-header">More from this Writer</div>
        <div class="display-books">
            <% if(writerBooks.length > 0) { %>
                <% writerBooks.forEach(book => { %>
                    <div class="single-book">
                        <a href="/books/<%= book.ID %>">
                            <img src="/images/Kalbela.jpg" alt="default" width="150" height="200">
                            <h4><%= book.TITLE %></h4>
                            <p><%= book.WRITER_NAME %></p>
                            <p><%= book.PUBLISHER %></p>
                        </a>
                    </div>
                        
                <% }) %>
            <% } %>
        </div>
    </div>

        
    </div>
    
    
    <script> 
        const button = document.getElementById('cart-post');
        console.log(button);
        
        let id = '<%= books[0].ID %>';
        // function addToCart() {
        //     console.log('ajax');
        //     $.ajax ( {
        //         url: `/cart/${id}`,
        //         type: 'POST'
        //     });
        //     console.log('add to cart');
        // }

        button.addEventListener('click', async(e) => {
            e.preventDefault();
            try {
            const res = await fetch(`/cart/${id}`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.user == null) {
                location.assign('/login');
            }
            else {
                console.log('success! adding');
            }
        }
        catch(err) {
            console.log(err);
        }
        })
        
    </script>
</body>
</html>