<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= writers[0].NAME %></title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Books</a></li>
            <li><a href="/writers">Writers</a></li>
            <li><a href="/publishers">Publishers</a></li>
        </ul>
    </nav>
    <!-- <% if(writers.length > 0) { %>
        <% writers.forEach(writer => { %>
            <h4><%= writer.NAME %></h4> 
            <p><%= writer.DESCRIPTION %></p>          
        <% }) %>
    <% } %> -->
    <h4><%= writers[0].NAME %></h4>
    <p><%= writers[0].DESCRIPTION %></p>
    <h4>Books by <%= writers[0].NAME %></h4>
    <% if(books.length > 0) { %>
        <% books.forEach(book => { %>
            <a href="/books/<%= book.ID %>">
                <h4><%= book.TITLE %></h4>
                <p><%= book.WRITER_NAME %></p>
                <p><%= book.PUBLISHER %></p></a>            
        <% }) %>
    <% } %>
</body>
</html>