<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist</title>
    <link rel="stylesheet" href="/styleCart.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!-- <h3>Cart</h3> -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Book</th>
                <th>Writer</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            
                <% if (items.length > 0) { %>
                    <% for(let i = 0; i < items.length; i++) { %>
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img src="images\Kalbela.jpg" alt="Product image" width="60px" height="80px">
                                    <div>
                                        <p><%= items[i].TITLE %></p>
                                        <a href=<%= '/wishlist/delete/' + items[i].ID %>>Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <%=items[i].WRITER_NAME %>
                            </td>
                            <td>
                                <%= items[i].GENRE %>
                            </td>
                            <td>
                                <%= items[i].PRICE %>Tk.
                            </td>
                            <td class="actions">
                                <button class="login-button" id=<%= 'add-cart' + items[i].ID%>>Add to Cart</button>
                                <!-- <a href=<%= '/cart/' + items[i].ID %>>Add to cart</> -->
                                <a href=<%= '/wishlist/delete/' + items[i].ID %>>Remove</a>
                            </td>
                        </tr>
                        
                    <% } %>
                <%}%>
        </table>
    </div>
    <script>
        // const cart_button = document.getElementById('cart-post');
        // console.log(cart_button);

        let items = <%- JSON.stringify(items) %> ;
        console.log(items);           
        for(let i = 0;i < items.length; i++) {
            document.getElementById(`add-cart${items[i].ID}`) .onclick = (function(i) {
                return async function() {
                    try {
                        const res = await fetch (`/cart/${items[i].ID}`, {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'}
                        })
                        const data = await res.json();
                        console.log('addto cart ', data);
                        if(data.user == null) {
                            location.assign('/login');
                        }
                        else {
                            console.log('added ');
                            location.assign('/wishlist');
                        }
                    }
                    catch (err) {
                        console.log(err);
                    }
                };
            }) (i);
        }
        
    </script>
</body>
</html>
